<div data-ng-controller="landingcontroller as vm">
    <div class="row imagesection" style="background-image: url('img/HomeTriptych1920.fw.fixed.jpg'); background-position: center">
        <div class="col-md-6 col-md-offset-1 searchbox animated bounceIn" style="padding: 25px;">

            <div class="col-md-6">
                <p></p>
                <i class="h4">
                    <b>What would you like to add to your shopping list?</b>
                </i>
                <p></p>
                <div class="input-group">
                    <input data-ng-model="vm.textValue" autofocus type="text" placeholder="Type here to add to the list" class="input-lg form-control" ng-enter="vm.AddToList()" />
                    <span class="input-group-btn">
                        <a href="#" title="Click to add item to shopping list.">
                            <button type="button" class="btn btn-lg btn-primary" ng-click="vm.AddToList()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </a>
                    </span>
                </div>
                <select class="form-control input-lg" ng-model="vm.selectedState" ng-options="item.abbreviation as item.name for item in vm.states" ng-enter="vm.AddToList()"></select>
            </div>
            <div class="col-md-6">
                <p></p>
                <i class="h4 center-inarea">
                    Have you ever wondered if the items you buy are safe?
                </i>
                <br />
                <h4 class="h4 center-inarea">
                    <strong>ShopAware.gov</strong> allows you to check your shopping list against current food and drug recalls and other adverse events that could affect the health of your family.
                </h4>
                <p></p>
            </div>

        </div>
    </div>

    <div class="col-md-6 shoppingcart-container" style="z-index: 73734;" ng-show="vm.HasItems">
        <div class="ibox animated bounceInLeft">

            <div class="ibox-content">
                <div class="row">
                    <div class="col-xs-9">
                        <h1 class="pull-left">Shopping List</h1>
                    </div>

                    <div class="col-xs-offset-1">
                        <button ng-click="vm.ClearList()" class="pull-right btn btn-link">

                            <i class="fa fa-times-circle-o">
                                <strong>Clear</strong>
                            </i>

                        </button>
                    </div>
                </div>
            </div>

            <ul class="sortable-list connectList agile-list " ng-model="todoList">

                <li class="{{item.Rank}}-element" ng-repeat="item in vm.shoppingList" ng-click="vm.ViewProductDetails(item)">

                    <table style="width: 100%;" cellpadding="0" cellspacing="0">
                        <tr>
                            <td valign="middle">
                                <h3>{{item.Keyword}}</h3>
                                <h5>Affecting: {{item.State}}</h5>
                            </td>
                            <td>
                                <h1>
                                    <i class="fa fa-spinner fa-spin" ng-show="item.IsLoading"></i>
                                </h1>
                            </td>
                            <td valign="middle" align="right">

                                <div class="">

                                    <img src="./img/identifiers/classi.png" ng-show="item.HasClassI" alt="Class 1" style="height: 48px; width: 48px;" tooltip-placement="right" tooltip="Dangerous or defective products that predictably could cause serious health problems or death." />
                                    <img src="./img/identifiers/classii.png" ng-show="item.HasClassII" alt="Class 2" style="height: 48px; width: 48px;" tooltip-placement="right" tooltip="Products that might cause a temporary health problem, or pose only a slight threat of a serious nature." />
                                    <img src="./img/identifiers/classiii.png" ng-show="item.HasClassIII" alt="Class 3" style="height: 48px; width: 48px;" tooltip-placement="right" tooltip="Products that are unlikely to cause any adverse health reaction, but that violate FDA labeling or manufacturing laws." />
                                    <img src="./img/identifiers/events.png" ng-show="item.HasEvents" alt="Event" style="height: 48px; width: 48px;" tooltip-placement="right" tooltip="Events occured with a drug or device." />
                                    <img src="./img/identifiers/ok.png" ng-show="item.IsClean" alt="Ok" style="height: 48px; width: 48px;" tooltip-placement="right" tooltip="Nothing recent found for this item." />
                                    <button class="btn btn-white btn-lg" type="button" style="height: 48px; width: 48px;" ng-click="vm.RemoveFromList(item)" tooltip-placement="right" tooltip="Remove item from shopping list.">
                                        <i class="fa fa-close"></i>
                                    </button>

                                    <!--<div class="badge badge-white">
                                        <h3>
                                            <a href="#" title="Remove item from shopping list.">
                                                <i class="fa fa-times" ng-click="vm.RemoveFromList(item)"></i>
                                            </a>
                                        </h3>
                                    </div>-->

                                </div>

                            </td>
                        </tr>
                    </table>

                </li>

            </ul>

        </div>
    </div>

    <div class="col-md-6 animated bounceInRight pull-right" ng-class="vm.fontSizeClass" ng-show="vm.HasItems" >

        <h1>Shopping List Results Legend</h1>

        <ul class="sortable-list connectList agile-list">

            <li class="classi-element" ng-show="vm.Class1Visible" style="min-height:72px; cursor:default;">
                <div class="pull-right">
                    <img src="./img/identifiers/classi.png" alt="Class 1" style="width:48px;height:48px;" />
                </div>
                <strong>Recall which indicate dangerous or defective products that predictably could cause serious health problems or death.</strong>
            </li>
            <li class="classii-element" ng-show="vm.Class2Visible" style="min-height:72px; cursor:default;">
                <div class="pull-right">
                    <img src="./img/identifiers/classii.png" alt="Class 2" style="width:48px;height:48px;" />
                </div>
                <strong>Recall which indicate products that might cause a temporary health problem, or pose only a slight threat of a serious nature.</strong>
            </li>
            <li class="classiii-element" ng-show="vm.Class3Visible" style="min-height:72px; cursor:default;">
                <div class="pull-right">
                    <img src="./img/identifiers/classiii.png" alt="Class 3" style="width:48px;height:48px;" />
                </div>
                <strong>Recall which indicate products that are unlikely to cause any adverse health reaction, but that violate FDA labeling or manufacturing laws.</strong>
            </li>
            <li class="events-element" ng-show="vm.EventsVisible" style="min-height:72px; cursor:default;">
                <div class="pull-right">
                    <img src="./img/identifiers/events.png" alt="Event" style="width:48px;height:48px;" />
                </div>
                <strong>Events occured with a drug or device.</strong>
            </li>
            <li class="success-element" style="min-height:72px; cursor:default;">
                <div class="pull-right">
                    <img src="./img/identifiers/ok.png" alt="Ok" style="width:48px;height:48px;" />
                </div>
                <strong>The search returns NO recall or event for the item.</strong>
            </li>

        </ul>

    </div>

    <div class="col-md-12 animated bounceInUp feed-container">

        <div class="row">
            <h1 class="col-md-10">Latest FDA News</h1>
            <div class="col-md-2" style="padding-top: 20px">
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active">
                        <span class="badge badge-primary" ng-click="vm.ChangeFontSize('')"><span class="font-size-button">A</span></span>
                    </li>
                    <li role="presentation">
                        <span class="badge badge-primary" ng-click="vm.ChangeFontSize('big')"><span class="font-size-button big">A</span></span>
                    </li>
                    <li role="presentation">
                        <span class="badge badge-primary" ng-click="vm.ChangeFontSize('bigger')"><span class="font-size-button bigger">A</span></span>
                    </li>
                </ul>
            </div>
        </div>

        <ul class="rss sortable-list connectList agile-list">

            <li ng-repeat="feed in vm.feeds" class="feed-element">

                <div ng-class="vm.fontSizeClass" style="background-color: #FAFAFA;">

                    <a target="_blank" href="{{feed.link}}">{{feed.title}}</a>

                    <p class="text-left">{{feed.contentSnippet}}</p>

                    <span class="small">{{feed.publishedDate}}</span>

                </div>

            </li>

        </ul>
    </div>

</div>