<div data-ng-controller="aboutcontroller as vm">
    <div class="wrapper wrapper-content animated fadeInDown">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li>
                            <a href="#/index/landing">Home</a>
                        </li>
                        <li class="active">
                            <strong>About Us</strong>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h1>About Us</h1>
                </div>
                <div class="col-md-6" style="padding-top: 20px">
                    <div class="pull-right">
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation" class="active"><span class="badge badge-primary" ng-click="vm.ChangeFontSize('')"><span class="font-size-button">A</span></span></li>
                            <li role="presentation"><span class="badge badge-primary" ng-click="vm.ChangeFontSize('big')"><span class="font-size-button big">A</span></span></li>
                            <li role="presentation"><span class="badge badge-primary" ng-click="vm.ChangeFontSize('bigger')"><span class="font-size-button bigger">A</span></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div ng-class="vm.fontSizeClass">
                        <p>
                            Lorem ipsum dolor sit amet, vero semper legimus ad eos. Sit cu veri nulla fuisset. Cetero reformidans dissentiunt ne cum. His ex inermis elaboraret.
                        </p>
                        <p>
                            Eam eu probo nonumy aeterno, cu eam mollis detraxit sententiae. Ex per dicant platonem adversarium, sed cu illum delectus antiopam, solum offendit eu cum. Ut postea indoctum partiendo eos, cu dolorum pericula sea, duo ut vidit latine nostrud. Magna iracundia id vix. Equidem legendos has ad, possim graecis blandit et quo. Nam ut hendrerit posidonium.
                        </p>
                        <p>
                            Vis ne tale dicat. Sed legimus luptatum ei, ea cum dico sapientem explicari, est ad ipsum imperdiet cotidieque. Quem nisl conceptam pro te. Cum iisque pertinacia constituam in. An duo amet offendit erroribus.
                        </p>
                        <p>
                            Eos ad liber intellegam, his ut autem complectitur. Antiopam pertinacia at sea, affert alterum qui et. Percipit signiferumque vituperatoribus no sit, ridens debitis appellantur cu sit. Qui ut movet voluptua indoctum. Nec tamquam tibique inimicus ut. Id his suscipit argumentum dissentias, etiam convenire vel te.
                        </p>
                        <p>
                            Te fabulas convenire dignissim mei, eum ut mollis democritum. Movet labore consulatu sit et. Solet tacimates accusamus te nec, in sensibus moderatius sea. Ut eum dicat graecis, no exerci dolore nostro quo. At quo munere tempor labitur, at ubique referrentur nam.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <img src="img/GroceryStoresConsumers.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
