<div class="wrapper wrapper-content animated fadeInDown" data-ng-controller="productcontroller as vm">
    <div class="row">
        <div class="col-lg-9">
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">
                    <strong>Product Details</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <h1>Search Results: <strong>{{vm.SearchSummary.Keyword}}</strong></h1>
    </div>

    <h1 ng-show="vm.DataLoading" class="text-center m-b-lg m-t-lg">
        <i class="fa fa-spinner fa-spin"></i>
        Loading More Information...
    </h1>

    <div class="col-md-6 animated bounceInLeft" ng-hide="vm.DataLoading">

        <div class="ibox float-e-margins" ng-show="vm.SearchSummary.HasClassI">

            <div class="ibox-content no-padding">
                <h2><strong><i>CLASS I</i></strong></h2>

                <small>{{vm.SearchResult.ClassIDescription}}</small>

                <ul>

                    <li class="danger-element" ng-repeat="item in vm.SearchResult.ClassI">
                        <div class="hr-line-dashed"></div>

                        <div class="search-result">
                            <p><strong>{{item.ProductDescription}}</strong></p>

                            <p>{{item.Content}}</p>

                            <div class="pull-right btn btn-xs btn-white" ng-click="vm.ShowMoreInformation(item)">More Information</div>

                            <i class="fa fa-clock-o"></i> {{item.DateStarted}}

                        </div>

                    </li>

                </ul>

            </div>

        </div>

        <div class="ibox float-e-margins" ng-show="vm.SearchSummary.HasClassII">

            <div class="ibox-content no-padding">
                <h2><strong><i>CLASS II</i></strong></h2>

                <small>{{vm.SearchResult.ClassIIDescription}}</small>

                <ul>

                    <li class="danger-element" ng-repeat="item in vm.SearchResult.ClassII">
                        <div class="hr-line-dashed"></div>

                        <div class="search-result">
                            <p><strong>{{item.ProductDescription}}</strong></p>

                            <p>{{item.Content}}</p>

                            <div class="pull-right btn btn-xs btn-white" ng-click="vm.ShowMoreInformation">More Information</div>

                            <i class="fa fa-clock-o"></i> {{item.DateStarted}}

                        </div>

                    </li>

                </ul>

            </div>

        </div>

        <div class="ibox float-e-margins" ng-show="vm.SearchSummary.HasClassIII">

            <div class="ibox-content no-padding">
                <h2><strong><i>CLASS III</i></strong></h2>

                <small>{{vm.SearchResult.ClassIIIDescription}}</small>

                <ul>

                    <li class="danger-element" ng-repeat="item in vm.SearchResult.ClassIII">
                        <div class="hr-line-dashed"></div>

                        <div class="search-result">
                            <p><strong>{{item.ProductDescription}}</strong></p>

                            <p>{{item.Content}}</p>

                            <div class="pull-right btn btn-xs btn-white" ng-click="vm.ShowMoreInformation">More Information</div>

                            <i class="fa fa-clock-o"></i> {{item.DateStarted}}

                        </div>

                    </li>

                </ul>

            </div>

        </div>



    </div>

    <div id="map" class="col-md-6 animated bounceInright map">
        <div id="popup"></div>

        <!--<script type="text/javascript">

            var map = new ol.Map({
                layers: [rasterLayer, vectorLayer],
                target: document.getElementById('map'),
                proj: new ol.proj.Projection({
                    code: 'EPSG:4326'
                }),
                view: view
            });

            var element = document.getElementById('popup');

            var popup = new ol.Overlay({
                element: element,
                positioning: 'bottom-center',
                stopEvent: false
            });
            map.addOverlay(popup);

            // display popup on click
            map.on('click', function (evt) {
                var feature = map.forEachFeatureAtPixel(evt.pixel,
                    function (feature, layer) {
                        return feature;
                    });
                if (feature) {
                    var geometry = feature.getGeometry();
                    var coord = geometry.getCoordinates();
                    popup.setPosition(coord);
                    $(element).popover({
                        'placement': 'top',
                        'html': true,
                        'content': feature.get('name')
                    });
                    $(element).popover('show');
                } else {
                    $(element).popover('destroy');
                }
            });

            // change mouse cursor when over marker
            map.on('pointermove', function (e) {
                try {

                    if (e.dragging) {
                        $(element).popover('destroy');
                        return;
                    }
                    var pixel = map.getEventPixel(e.originalEvent);
                    var hit = map.hasFeatureAtPixel(pixel);
                    map.getTarget().style.cursor = hit ? 'pointer' : '';
                } catch (ex) {
                };

            });


            //vm.SetupMap();

            // ******************* code to add icons to the map once the map is instantiated

           

            //vectorSource.addFeature(createIcon(36, -84, 'Knoxville, TN', 'assests/mapicon/1.png'));
            //vectorSource.addFeature(createIcon(35, -85.3, 'Chattanooga, TN', 'assests/mapicon/1.png'));

            //centerMapOnAllObjects();

        </script>-->

        <div data-ng-init="vm.SetupMap(map, popup)"></div>


    </div>





</div>
