<div class="wrapper wrapper-content animated fadeInDown" data-ng-controller="productcontroller as vm">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/index/landing">Home</a>
                    </li>
                    <li class="active">
                        <strong>Product Details</strong>
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1 class="col-md-6">
                    Search Results: <strong>{{vm.SearchSummary.Keyword}}</strong>
                    
                </h1>
                <span class="col-md-6 pull-right">legend placeholder</span>
                <div style="padding-top: 20px">
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="active">
                            <span class="badge badge-primary" ng-click="vm.ChangeFontSize('')"><span class="font-size-button">A</span></span></li>
                        <li role="presentation">
                            <span class="badge badge-primary" ng-click="vm.ChangeFontSize('big')"><span class="font-size-button big">A</span></span></li>
                        <li role="presentation">
                            <span class="badge badge-primary" ng-click="vm.ChangeFontSize('bigger')"><span class="font-size-button bigger">A</span></span></li>
                    </ul>
                </div>

                
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 animated bounceInLeft" ng-class="vm.fontSizeClass">

                <h1 ng-show="vm.DataLoading" class="text-center m-b-lg m-t-lg">
                    <i class="fa fa-spinner fa-spin"></i>
                    Loading More Information...
                </h1>

                <div ng-hide="vm.DataLoading">

                    <div class="ibox-content no-padding">

                        <div >

                            <ul class="sortable-list connectList agile-list" infinite-scroll="vm.DisplayNext(2)" infinite-scroll-distance="2">

                                <li class="{{item.Rank}}-element" ng-repeat="item in vm.VisibleResults" ng-click="vm.ShowMoreInformation(item)">

                                    <div ng-hide="item.IsEvent">

                                        <div class="pull-right"><img src="img/identifiers/{{item.Rank}}.png" /></div>

                                        <p>
                                            <strong>{{item.ProductDescription}}</strong>
                                        </p>

                                        <p>{{item.ContentTruncated}}</p>

                                        <div class="pull-right btn btn-xs btn-white">More Information</div>

                                        <i class="fa fa-clock-o"></i> {{item.DateStarted}}

                                    </div>

                                    <div ng-show="item.IsEvent">

                                        <div class="pull-right"><img src="img/identifiers/{{item.Rank}}.png" /></div>

                                        <p>
                                            <strong>Seriousness: {{item.Seriousness}}</strong>
                                        </p>

                                        <p>Source: {{item.PrimarySource}}</p>

                                        <div class="pull-right btn btn-xs btn-white">More Information</div>

                                        <i class="fa fa-clock-o"></i> {{item.DateStarted}}

                                    </div>


                                </li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-6 animated bounceInUp" id="mapPlaceholder">

                <ul class="sortable-list connectList agile-list">

                    <li class="feed-element">

                        <div>

                            <openlayers id="map" ol-center="center" ol-defaults="defaults" custom-layers="true" height="480px" width="100%">

                                <ol-layer ol-layer-properties="osm"></ol-layer>
                                <ol-marker ol-marker-properties="item" ng-repeat="item in vm.Markers"></ol-marker>

                            </openlayers>

                        </div>
                        <div class="m-t">Put a good description of the Chart - here.</div>
                    </li>

                    <li class="feed-element animated bounceInUp">

                        <div>
                            <h1 ng-hide="vm.IsChartReady"><i class="fa fa-spinner fa-spin"></i></h1>
                            <canvas class="ng-isolate-scope" style="height: 480px; width: 100%;" options="vm.lineOptions" data="vm.lineData" responsive="true" linechart=""></canvas>

                        </div>

                    </li>

                </ul>

            </div>

        </div>

    </div>

</div>