<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <strong>
                Was this page useful?
            </strong>
            &nbsp;
            <button class="btn btn-outline btn-primary dim" type="button" tooltip-placement="left" tooltip="Page WAS useful"><i class="fa fa-thumbs-up"></i></button>
            <button class="btn btn-outline btn-danger dim" type="button" tooltip-placement="top" tooltip="Page WAS NOT useful"><i class="fa fa-thumbs-down"></i></button>
            <button class="btn btn-outline btn-info dim" type="button" ng-click="globals.OpenCommentsDialog()" tooltip-placement="right" tooltip="Leave a comment"><i class="fa fa-comment"></i></button>
        </div>
        <div class="col-md-7">
            <div class="copyright">
                <strong>ShopAware! Copyright &copy;2015 DPRA Inc.  All rights reserved. </strong>
            </div>
        </div>
    </div>
</div>
