<div class="border-bottom white-bg">
    <div class="appBar-header">
        <div class="row">
            <div class="col-md-4">
                <h3 class="appBar-title col-md-4">ShopAware.gov</h3>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <a href="#/index/landing" ng-if="$state.current.name === 'index.about'">
                    <h3 class="appBar-aboutUS">
                        <i class="fa fa-reorder"></i> Home
                    </h3>
                </a>
                <a href="#/index/about" ng-if="$state.current.name === 'index.landing'">
                    <h3 class="appBar-aboutUS">
                        <i class="fa fa-reorder"></i> About Us
                    </h3>
                </a>
                <a href="#/index/about" ng-if="$state.current.name === 'index.product'">
                    <h3 class="appBar-aboutUS">
                        <i class="fa fa-reorder"></i> About Us
                    </h3>
                </a>
            </div>
        </div>
        <div class="row">
            <i class="appBar-description" style="font-weight:bolder;">Protecting Your Health Through Information</i>
        </div>
    </div>
</div>